*{
    margin: 0;
    padding: 0;
}

hr {
    border:1px solid black;
}

.tag {
    margin: 1rem 2.3em .2rem 4rem;
    font-weight: 400;
}

.card-out {
    /* padding-left:2rem; */
    display: grid;
    grid-template-columns: auto auto;
}

.card-in {
    margin: 1rem 4rem;
}

.right {
    text-align: right;
}

.edu {
    margin-top: 2rem;
}
.edu-out{
    display: grid;
    grid-template-columns: auto auto;
}

.edu-1 {
    margin: .3rem 4em;
}

.edu-1 h3{
    font-size: 1rem;
}

.edu-1 p{
    font-size: small;
}

.small {
    color: rgb(83, 82, 82);
    font-style: italic;
}

.skills-out {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}
.skills-d {
    display: flex;
    margin-left: 4rem;
}